:host {
  display: block;
  max-width: 600px;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #f9fafb;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", sans-serif;
}

h1 {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}

input {
  flex: 1;
  padding: 0.7rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;

  &:focus {
    border-color: #3498db;
  }
}

.todo-form {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;


  button {
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #2980b9;
    }
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

  .completed .text {
      text-decoration: line-through;
      color: #888;
  }
  
  .right{
      display: flex;
      gap: 10px;
      justify-content: space-between;
      align-items: center;
      & .delete-btn{
        background-color: #2980b9;
        color:white;
      }
  }

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    margin-bottom: 0.6rem;
    padding: 0.8rem 1rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.02);
    }

    .btn{
      background-color: #e74c3c;
      padding: 0.4rem 0.8rem;
      border-radius: 6px;
      font-size: 0.9rem;
      color: white;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #c0392b;
      }
    }
  }
}
